OPENAI_API_KEY=fake_key
OPENAI_MODEL=gpt-4o-mini
FRONTEND_ORIGIN=https://cublegend.github.io
AI_BEHAVIOR_PROMPT=prompt
RIFT_OVERRIDE_COMMAND= TEMPORARY COMMAND: 12312
RIFT_ACCELERATION_PASSWORD=your_secure_acceleration_password_here
RIFT_TIMER_START_ENABLED=true
DECODER_ANSWER= 1 2 1 2 1 2 1
