WEBHOOK_A=https://discord.com/api/webhooks/1488706821785911481/OQqfDjWQpoFVR7ExTTwPMiSgQA_gYC789zY2OFruyUy8N52f5Y8XMZMK-M7yNeZ5hi_H
WEBHOOK_B=https://discord.com/api/webhooks/1488706838257209467/rLBVlBuAlncScqbHQtgRLlZY3zmlnFBIQJWlcSJc1uCkoF1ioNUSBNeqh8V3_Om-3gMN
WEBHOOK_C=https://discord.com/api/webhooks/1488706846180118853/u3IdoQ1HJXstbGsFNSsPbEwv1xab-29lcNf6A7XGsPayNojwSy5w872aT8_teADQ1tZX
DRY_RUN=false
ENABLE_DELAY_JITTER=true
DELAY_JITTER_PCT=0.2
